In [41]:
import pymysql

In [49]:
conn=pymysql.connect(host="127.0.0.1", user="root",password="wyz153624",database="student",charset="utf8")

In [50]:
cursor=conn.cursor()

![](table.PNG)

### 不带条件的查找

In [51]:
cursor.execute("select id,name from my_school")

15

In [52]:
for (id,name) in cursor:
    print(id,name)

1 北京大学
2 中国人民大学
3 清华大学
4 北京交通大学
5 北京科技大学
6 中国石油大学
7 中国矿业大学（北京）
8 中国地质大学
9 北京邮电大学
10 华北电力大学
11 北京化工大学
12 中国农业大学
13 北京林业大学
14 北京师范大学
15 北京中医药大学

In [58]:
query = ("select id,name from my_school where id > %s and id < %s")
cursor.execute(query,(7,12))

4

In [59]:
for (id,name) in cursor:
    print(id,name)

8 中国地质大学
9 北京邮电大学
10 华北电力大学
11 北京化工大学

### 插入数据

In [60]:
query = ("insert into my_school(id,name) values(%s,%s)")
cursor.execute(query,(16,"杭州电子科技大学"))
conn.commit()

![](insert1.PNG)

### 修改数据

In [64]:
query = ("update my_school set name=%s where id=%s")
cursor.execute(query,('兰州大学',6))
conn.commit()

发现第6个学校的信息已经发生改变
![](update1.PNG)

### 删除数据

In [65]:
query = ("delete from my_school where id>%s")
cursor.execute(query,10)
conn.commit()

![](delete1.PNG)